:root {
    --global-line-height: 1.5em;
    --font-size-smaller: 0.6rem;
    --font-size-small: 0.8rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-larger: 2rem;
    --font-size-largest: 2.5rem;
    --font-weight-normal: 400;
}

:root {
    --global-color-primary: black;
    --global-color-secondary: red;
    --global-color-tertiary: gray;
}

:root {
    --font-family-editor: 'Consolas', monospace;
    --font-family-prev-default: 'Segoe UI', Arial, Helvetica, sans-serif;
    --font-family-prev-code: 'Ubuntu Mono', monospace;
}

* {
    margin: 0;
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    line-height: var(--global-line-height);
}

/* Frame */

body {
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    row-gap: 5px;
    justify-content: space-between;
}

.header {
    height: 60px;
    background-color: white;
}

.footer {
    height: 30px;
    background-color: white;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 100%;
    align-items: stretch;
    overflow-y: hidden;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.tab.editor {
    width: 40%;
}

.tab.preview {
    width: 60%;
}

.tab-menu {
    height: 40px;
    background-color: var(--global-color-secondary);
}

.tab-footer {
    height: 40px;
    background-color: var(--global-color-secondary);
}

.tab-body {
    height: 100%;
    overflow-y: hidden;
}

.tab-body textarea {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Consolas';
    font-size: var(--font-size-normal);
    resize: none;
}

.tab-body .preview-display {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}

/* Markdown elements */

.ml-root {
    display: flex;
    flex-direction: column;
    row-gap: var(--global-line-height);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-prev-default);
    padding: 15px;
    color: var(--global-color-primary);
    overflow-y: hidden;
}

.ml-root h1, .ml-root h2,
.ml-root h3, .ml-root h4,
.ml-root h5, .ml-root h6 {
    font-weight: var(--font-weight-normal);
    margin: 0 0 1rem 0;
}

.ml-root a, .ml-root button {
    color: var(--global-color-secondary);
}

.ml-root.show-asides *.segment {
    display: grid;
    grid-template-columns: 3fr 1fr;
    line-height: var(--global-line-height);
    column-gap: 5em;
}

.ml-root:not(.show-asides) *.segment {
    display: inline-block;
    line-height: var(--global-line-height);
    column-gap: 5em;
}

.main-segment, .aside-segment {
    overflow-wrap: break-word;
    hyphens: manual;
}

.quote-cit {
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;
    color: var(--global-color-primary);
}

.quote-cit::before {
    content: "\2014\0009\0009";
    color: var(--global-color-secondary);
}

code {
    font-family: var(--font-family-prev-code);
    font-size: var(--font-size-normal);
}

.codeblock {
    font-family: var(--font-family-prev-code);
    font-size: var(--font-size-small);
    white-space: pre-wrap;
}

blockquote {
    margin-left: 2em;
    color: var(--global-color-tertiary);
}

aside {
    overflow: hidden;
    float: left;
}

.aside-content {
    padding: 10px;
    font-size: var(--font-size-small);
    overflow: hidden;
    border-left: 5px solid var(--global-color-secondary);
}

.aside-btn {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    display: none;
    font-size: var(--font-size-small);
    font-family: var(--font-family-prev-default);
    line-height: 1em;
    border-left: 5px solid var(--global-color-secondary);
    background-color: transparent;
}

.aside-btn.aside-btn-visible {
    display: block;
    width: 100%;
}

.aside-btn:hover {
    cursor: pointer;
    color: var(--global-color-secondary);
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        row-gap: 20px;
    }

    .tab {
        height: 50%;
        width: 100%;
    }

    .tab.editor {
        width: 100%;
    }

    .tab.preview {
        width: 100%;
    }
}