* {
    margin: 0;
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    row-gap: 5px;
    justify-content: space-between;
}

.header {
    height: 60px;
    background-color: white;
}

.footer {
    height: 30px;
    background-color: white;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 100%;
    align-items: stretch;
    overflow-y: hidden;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.tab-menu {
    height: 40px;
    background-color: blue;
}

.tab-footer {
    height: 40px;
    background-color: blue;
}

.tab-body {
    height: 100%;
    overflow-y: hidden;
}

.tab-body textarea {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.tab-body .preview-display {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        row-gap: 20px;
    }

    .tab {
        height: 50%;
        width: 100%;
    }
}