* {
    margin: 0;
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

/* Frame */

body {
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    row-gap: 5px;
    justify-content: space-between;
}

.header {
    height: 60px;
    background-color: white;
}

.footer {
    height: 30px;
    background-color: white;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 100%;
    align-items: stretch;
    overflow-y: hidden;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.tab-menu {
    height: 40px;
    background-color: blue;
}

.tab-footer {
    height: 40px;
    background-color: blue;
}

.tab-body {
    height: 100%;
    overflow-y: hidden;
}

.tab-body textarea {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Consolas';
    font-size: 16px;
    resize: none;
}

.tab-body .preview-display {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    padding: 15px;
}

.segment {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
}

/* Markdown elements */

.quote-cit {
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;
}

.quote-cit::before {
    content: "\2014\0009\0009";
    color: red;
}

pre {
    margin: 0;
    overflow-x: scroll;
}

code {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.9em;
}

pre > code {
    font-size: 0.75em;
}

blockquote {
    margin-left: 2em;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        row-gap: 20px;
    }

    .tab {
        height: 50%;
        width: 100%;
    }
}